h1 {
  background-color: rgb(128, 0, 28);
  color: rgb(255, 255, 255);
  margin-left: 100px;
}

h2 {
  background-color: rgb(128, 0, 28);
  color: rgb(255, 255, 255);
  margin-left: 200px;
  border-radius: 20%;
}