@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin blue-beans {
  @if $brand==blue-beans {
    @content;
  }
}

@mixin rogers-rovers {
  @if $brand==rogers-rovers {
    @content;
  }
}

@mixin pastry-pizza {
  @if $brand==pastry-pizza {
    @content;
  }
}

@mixin tiny-screen () {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screen () {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screen () {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screen () {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin warning {
  background-color: orange;
  color: #fff;
  &:hover {
    background-color: lighten(orange, 10%);
  }
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin box($radius: 6px, $border: 2px solid red) {
  @include rounded($radius);
  border: $border;
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}